<!-- 
    <div class="container-fluid">
        <a class="navbar-brand text-bold" href="#">
            <a class="navbar-brand">Online Test</a>            
        </a>
    </div> -->
    <div class="container-fluid">
        <div class="header" style="font-size: 60px; padding: 10px; color: #d3f5cc; text-align: center;" ><strong>Online Test Application</strong></div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Test</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                      <li><a href="#">Home</a></li>
                      <li><a>Option</a></li>
                      <li><a>Edit</a></li>
                      <li><a>Go To</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      </ul>
              </div>
             
            </div>
          </nav>
   
        </div>
        