<!-- <nav class="navbar navbar-expand-sm bg-light">
    <div class="container mt-5">
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="javascript">JavaScript</a></li>
    </ul>
    </div>
    </div> <br>
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="html">Html</a></li>
    </ul>
    </div>
    </div> <br>
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="css">Css</a></li>
    </ul>
    </div>
    </div> <br>
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="typescript">Typescript</a></li>
    </ul>
    </div>
    </div>
    </div>
    </nav> -->
    <div class="container-fluid">
      
      <div class="container bg-light py-5">
        <h1 class="display-5 fw-bold" style="text-align: center;"><strong>Welcome</strong> </h1><br>
        <h2 class="col-md-8 fs-4">This Test Contains 10 Questions</h2><br><br>
        
        <br><br><h3>Note:</h3>
        <ol>
            <li><h4>Select one test from below</h4></li>
            <li><h4>Each test contains 9 question</h4></li>
            <li><h4>Correct question gives you 10 points</h4></li>
            <li><h4>Incorrect question leads you -10 points</h4></li>
            <li><h4>You will have 1 minute for each question to answer</h4></li>
            <li><h4>Refreshing the page will reset the quiz</h4></li>
        </ol>
        <br><br>
        <h2>Please Select the test Below.....</h2>
    </div>
    <br>
    
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="margin-left: 500px;width: 50%;padding: 10px;">
      <a href="typescript"><button type="button" class="btn btn-success btn-lg" style="margin:5px;">TypeScript</button></a>
      <a href="html"><button type="button" class="btn btn-success btn-lg" style="margin:5px;">HTML</button></a>
      <a href="javascript"><button type="button" class="btn btn-success btn-lg" style="margin:5px;">JavaScript</button></a>
      <a href="css"><button type="button" class="btn btn-success btn-lg" style="margin:5px;">CSS</button></a>
    </div>
    </div>
  
    
    